.App {
  text-align: center;
  background-color: #CCC;
  padding: 5px 5px 0;
}

.App-header {
  background-color: #3292ff;
  height: 150px;
  padding: 20px;
  color: white;
  font-weight: bold;
  border-bottom: #1b304c solid 10px;
  margin-bottom: 5px;
}

.nav {
  background-color: #fff;
}

.nav-link.active {
  background-color: #1b304c !important;
}

.App-title {
  font-size: 3em;
  font-weight: bold;
  margin-top: 30px;
}

.App-intro {
  font-size: large;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.feed-list {
  height: auto;
  width: 65%;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 0;
  text-align: left;
  padding: 0 30px;
}

.feed-right {
  height: auto;
  width: 32%;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px;
  text-align: left;
  padding: 0 30px;
}

.main-image {
  width: 100%;
  padding-bottom: 10px;
}

.quote-box {
  text-align: left;
  border-left: solid 5px #1b304c;
  margin-left: 5px;
  padding: 0 5px;
}

.quoter {
  font-size: .8em;
  font-style: italic;
}